<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.UploadMapper">

	<!--select all-->
	<select id="albumList" resultType="com.co.kr.domain.AlbumListDomain">
	  SELECT song_seq, mb_id, song_title, song_singer , song_url,song_create_at, song_update_at
	  FROM jsp.songboard order by song_update_at desc
	</select>
	
	<!--file all-->
	<select id="albumFileList" resultType="com.co.kr.domain.AlbumFileDomain">
	  SELECT song_seq,mb_id,up_original_file_name,up_new_file_name,up_file_path,up_file_size
	  FROM jsp.songfiles order by song_seq desc limit
	</select>
	
	<!--select all-->
	<select id="albumFileViewList" parameterType="hashMap" resultType="com.co.kr.domain.AlbumListFileDomain">
	  SELECT song_seq, mb_id, song_title, song_singer , song_url,song_create_at, song_update_at,up_original_file_name,up_new_file_name,up_file_path,up_file_size
	  FROM jsp.view_songboard where mb_id=#{mbId} and (song_title like CONCAT('%',#{searchWord},'%') or song_singer like CONCAT('%',#{searchWord},'%'))order by song_update_at desc
	</select>
	
	<!--select all-->
	<select id="albumFileViewListPage" resultType="com.co.kr.domain.AlbumListFileDomain"  parameterType="map">
	  SELECT song_seq, mb_id, song_title, song_singer , song_url,song_create_at, song_update_at,up_original_file_name,up_new_file_name,up_file_path,up_file_size
	  FROM jsp.view_songboard where mb_id=#{mbId} and (song_title like CONCAT('%',#{searchWord},'%') or song_singer like CONCAT('%',#{searchWord},'%'))order by song_update_at desc limit #{offset}, #{URLnum}
	</select>
	
	<insert id="URLupload" parameterType="com.co.kr.domain.AlbumURLDomain"
	useGeneratedKeys="true"
        keyProperty="SongSeq" keyColumn="song_seq">
	
        INSERT INTO jsp.songboard (
            mb_id,   
						song_title,
						song_singer,                         
						song_url  
        )
        VALUES (
            #{mbId},
            #{SongTitle},
            #{SongSinger},
            #{SongURL}
        )
	</insert>
	
	<!-- file insert -->
	<insert id="fileUpload" parameterType="com.co.kr.domain.AlbumFileDomain">
        INSERT INTO jsp.songfiles (
            song_seq,
            mb_id,   
            up_original_file_name,                         
            up_new_file_name,                      
            up_file_path,                                   
            up_file_size
        )
        VALUES (
            #{SongSeq},
            #{mbId},
            #{upOrginalFileName},
            #{upNewFileName},
            #{upFilePath},
            #{upFileSize}
        )
    </insert>

		<!-- URL update -->
    <update id="AlbumURLUpdate" parameterType="com.co.kr.domain.AlbumURLDomain">
        UPDATE jsp.songboard SET
                song_seq=#{SongSeq},
                mb_id=#{mbId},
                song_title=#{SongTitle},
                song_singer=#{SongSinger},
                song_url=#{SongURL}, 
                song_update_at=now()  
        WHERE song_seq=#{SongSeq}
    </update>

    <!-- file update -->
    <update id="AlbumFileUpdate" parameterType="com.co.kr.domain.AlbumFileDomain">
        UPDATE jsp.songfiles SET
                song_seq=#{SongSeq},
                mb_id=#{mbId},
                up_original_file_name=#{upOrginalFileName},
                up_new_file_name=#{upNewFileName}, 
                up_file_path=#{upFilePath},
                up_file_size=#{upFileSize}
        WHERE song_seq=#{SongSeq}
    </update>

	<!-- URL delete -->
    <delete id="AlbumURLRemove" parameterType="hashMap">
       DELETE FROM jsp.songboard WHERE song_seq=#{SongSeq}
    </delete>
	<!-- file delete -->
    <delete id="AlbumFileRemove" parameterType="com.co.kr.domain.AlbumFileDomain">
	    DELETE FROM jsp.songfiles WHERE up_new_file_name = #{upNewFileName}
	</delete>
	
	<!-- Member URL delete -->
	<delete id="MemberAlbumURLRemove" parameterType="map">
       DELETE FROM jsp.songboard WHERE mb_id=#{mbId}
    </delete>
	<!-- Member file delete -->
    <delete id="MemberAlbumFileRemove" parameterType="map">
	    DELETE FROM jsp.songfiles WHERE mb_id = #{mbId}
	</delete>
	
	<!-- URL -->
	<select id="AlbumSelectOne" resultType="com.co.kr.domain.AlbumListDomain" parameterType="map">
    	SELECT song_seq, mb_id, song_title, song_singer, song_url , song_create_at, song_update_at
    	FROM jsp.songboard where song_seq = #{SongSeq}
	</select>

	<!-- file -->
	<select id="AlbumSelectOneFile" resultType="com.co.kr.domain.AlbumFileDomain" parameterType="map">
	    SELECT song_seq, mb_id, up_original_file_name, up_new_file_name, up_file_path, up_file_size
	    FROM jsp.view_songboard where song_seq = #{SongSeq}
	</select>
	
	<!--Member file all-->
	<select id="MemberAlbumFileList" parameterType="map" resultType="com.co.kr.domain.AlbumFileDomain">
	  SELECT song_seq,mb_id,up_original_file_name,up_new_file_name,up_file_path,up_file_size
	  FROM jsp.songfiles where mb_id=#{mbId}
	</select>
	
</mapper>