<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment">
   <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">spring-boot</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
	    <div class="d-flex flex-nowrap"  style="background-color:#212529">
	        <header th:replace="fragments/sidebar :: headerFragment"></header>
	        <div layout:fragment="content" style="background-color:white"></div>
	    </div>
    </main>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
        
</body>
</html>